<div class="container">
  <form>
      <div class="form-row">
  
          <div class="form-group col-md-9">
            <label for="name">Name</label>
            <input #nameInput type="text" class="form-control" id="name" placeholder="Item Name...">
          </div>
    
          <div class="form-group col-md-3">
            <label for="amount">Amount</label>
            <input #amountInput type="number" class="form-control" id="amount" placeholder="1">
          </div>
    
        </div>
      <div class="d-flex">
        <button 
          type="button" 
          class="btn btn-success mr-auto d-block" 
          (click)="onAddItem()">ADD</button>

        <button 
          type="button" 
          class="btn btn-outline-danger ml-auto mr-3 d-block">DELETE</button>
        
        <button 
          type="button" 
          class="btn btn-outline-secondary d-block" 
          (click)="onRestForm()">CLEAR</button>
      </div>   
  </form>
</div>